/* Import the GeneralStyle.css file */
@import url('GeneralStyle.css');

/* Add your custom styles and functions below */

/* Flower section styles */
main {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    background:linear-gradient(hsl(246, 30%, 63%), hsl(20, 0%, 86%));
}

.flower_harvest {

    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-evenly;
}

.flower_harvest {
    border: 2px solid  hsl(220, 17%, 27%);;
    border-radius: 10px;
    background: linear-gradient(hsl(246, 30%, 63%), hsl(20, 0%, 86%));
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 200px;
}

.flower_harvest:hover {
    box-shadow: 4px 6px hsl(246, 30%, 79%);
    transform: translate(-10%, -10%);
    transition: transform 0.6s;
}

.flower_harvest:active {
    background-color: hsl(246, 30%, 70%);
    transform: scale(0.9);
    transition: transform 0.5s;
}

.flower_harvest h3 {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
}

.flower_harvest p {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
}



@media only screen and (max-width: 576px) {
    .flower_harvest {
        width: 80%;
    }
}