/*----------The footer of the page----------*/
#footer {
    position: absolute;
    left:0;
    right:0;
    background: #023201;
    clear: both;
    border-top-left-radius: 20px; /*Nice round corners*/
    border-top-right-radius: 20px;
    color: #ffffff;
    padding-top: 0.5%; /* Padding for content */
    height: 10rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
}

.location > iframe {
    width: 70%;
    height: 30%;

}

@media only screen and (max-width: 576px)
{

        #footer {

            font-size: 0.7rem;
            display: block;
            text-align: center;
            height: fit-content;
            
        }
    .location > iframe{

       display: none;
    }
}
