.header {
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(hsl(246, 30%, 63%), hsl(20, 0%, 86%));
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed; /* To stay on top of the page while scrolling */

    display: grid; /* Display grid because grid is beautiful as all arranged things are beautiful :D */
    grid-template-columns: repeat(4, 1fr); /* A grid of 4 equal columns */
    grid-template-rows: auto auto auto; /* 3 rows that have auto height */
    align-items: center; /* Again, when things are arranged, they are beautiful */

    z-index: 5;
}

.logo {
    margin: auto; /* Centering the logo */
}

.title {
    text-align: center; /* I don't think I need to repeat myself anymore*/
    grid-column: 2 / span 2; /* Title starting at the column 2 of the first row and spanning over 2 columns */
    font-size: 2rem;
}

.nav_bar > ul {
    /* Well the 'Log In' and 'Register' button are already set in the last column of the grid so we just give them flex display to modify the look*/
    display: flex;
    justify-content: space-evenly;
}

.horizontal_rule {
    /* Just a horizontal rule*/
    background-color: hsl(220, 17%, 27%);
    grid-row: 2; /* Declared a row in grid only to add a horizontal rule */
    grid-column: 1 / span 4; /* Spanned it over all columns */
    height: 7px;
    margin-left: 5%; /* Resized a bit */
    margin-right: 5%;
    border-radius: 50%; /* Cool effect */
}

.nav_list {
    /* Set up the nav list on the last row of the grid */
    grid-row: 3;
    grid-column: 1 / span 4;
}

.nav_list > ul {
    /* Display flex the ul inside of nav_list to be more beautiful ;D*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 576px) {

    .nav_bar,.nav_list{
        display: none;
    }

    .header{
        padding-top: 5%;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .logo_icon_container{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        height: 2rem;
        width: 3rem;
    }

    .title{
        font-size: 1.5rem;
    }

    #open_menu{
        display:block;
        cursor: pointer;
    }

    #nav_for_media.active{
        position: absolute;
        width: fit-content;
        top:0;
        right:0;
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        text-align: right;
        padding-right: 3%;
        background:linear-gradient(hsl(246, 30%, 63%), hsl(20, 0%, 86%));
    }
}