/**
 *  This Css file is used for the main part of the website's main page.
 *  The following structure is respected to provide the nice design of the web page.
 *  First are the CSS styles for the global variables like body or getting rid of the ugly dots of li.
 *  Second are the styles for the general layout of the page.
 *  Third are the styles of different media queries.
 *  And at last, the main page characteristics.
 */

#main {
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;

    font-size: 1.3rem;
}

section {
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.section1, .section2{


}
section > div {

    width: 100%;
    height: 100%;
    display: flex;
    text-align: center  ;
    color: white;
    justify-content: center;
}

section1 > div > span {
    min-height: 350px;
    max-height: fit-content;
    width: 90%;
    border-radius: 20px;
    text-align: right;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}



section > .text {
    height: fit-content;
}

section > .image > img {
    height: 350px;
    width: fit-content;
}


.progress_bar {
    height: 1em;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.progress_bar_fill {
    color: white;
    font-weight: bold;
    height: 1em;
    background: linear-gradient(90deg, hsl(0, 0%, 95%), limegreen, hsl(0, 0%, 95%));
    border-radius: 10px;
}


.section3 > span {
    padding-left: 1%;
    padding-right: 1%;
}

@media only screen and (max-width: 830px) {
    html, body {
        font-size: 12px;
    }

    #main {
        margin: 15vh 0 0 0;
    }

    section {
        flex-direction: column;
    }
    section > .image > img {
        height: 300px;
    }
}

